b{
    font-family: 'Black Ops One', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Caudex', serif;
font-family: 'Dela Gothic One', cursive;
font-family: 'Kablammo', cursive;
font-family: 'Krona One', sans-serif;
font-family: 'Marcellus SC', serif;
font-family: 'Noticia Text', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Slab', serif;
}